body{
	color: #5F5F5F;
	a{
		color: #253993;
	}
}

div.flex-align {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}

.navbar-default{
	padding: 0px 0 50px 0;
	.navbar-header{
		clear: both;
	}
	.navbar-brand{
		img{
			height: 60px;
		}
	}
}
.container{
	width: 780px;
	.botoes-topo{
		@media(max-width: 768px){
			margin-top: 10px;
			float: left;
			.pull-right{
				float: left !important;
			}
		}
	}
	.btn-lanternas{
		background-color: #EDEDED;
		color: #2b2f34;
		font-weight: bold;
	}
	.active{
		background-color: #2b2f34;
		color: #EDEDED;
	}	
	.jumbotron{
		margin-top: 20px;
		border-radius: 2px;
		-webki-border-radius: 2px;
		-moz-border-radius: 2px;
		background-color: #FEFEFE;
	}
	@media(max-width: 768px){
		width: 100%;
		box-sizing: border-box;
		.jumbotron{
			padding: 20px;
		}
	}
}

footer{
	.container{
		width: 100%;
	}
	&.footer{
		bottom: 0;
		width: 100%;
		min-height: 80px;
		padding: 30px;
		box-sizing: border-box;
		background-color: #25282c;
		z-index: 999;
		a{
			color: #A7D9EE;
		}
		.copyright{
			@media(max-width: 768px){
				text-align: center;
			}
		}
		.logo-tecone{
			position: relative;
			text-align: center;
			vertical-align: middle;
			@media(max-width: 768px){
				margin: 25px 0 10px 0;
				box-sizing: border-box;
			}
			img{
				position: absolute;
				top: -15px;
				right: 25%;
				@media(max-width: 768px){
					position: relative;
					right: 0;
				}
			
			}
		}
		.logo-comb{
			text-align: right;
			@media(max-width: 768px){
				text-align: center;
			}
		}
	}
}