body {
  color: #5F5F5F;
}
body a {
  color: #253993;
}
div.flex-align {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
.navbar-default {
  padding: 0px 0 50px 0;
}
.navbar-default .navbar-header {
  clear: both;
}
.navbar-default .navbar-brand img {
  height: 60px;
}
.container {
  width: 780px;
}
@media (max-width: 768px) {
  .container .botoes-topo {
    margin-top: 10px;
    float: left;
  }
  .container .botoes-topo .pull-right {
    float: left !important;
  }
}
.container .btn-lanternas {
  background-color: #EDEDED;
  color: #2b2f34;
  font-weight: bold;
}
.container .active {
  background-color: #2b2f34;
  color: #EDEDED;
}
.container .jumbotron {
  margin-top: 20px;
  border-radius: 2px;
  -webki-border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: #FEFEFE;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    box-sizing: border-box;
  }
  .container .jumbotron {
    padding: 20px;
  }
}
footer .container {
  width: 100%;
}
footer.footer {
  bottom: 0;
  width: 100%;
  min-height: 80px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #25282c;
  z-index: 999;
}
footer.footer a {
  color: #A7D9EE;
}
@media (max-width: 768px) {
  footer.footer .copyright {
    text-align: center;
  }
}
footer.footer .logo-tecone {
  position: relative;
  text-align: center;
  vertical-align: middle;
}
@media (max-width: 768px) {
  footer.footer .logo-tecone {
    margin: 25px 0 10px 0;
    box-sizing: border-box;
  }
}
footer.footer .logo-tecone img {
  position: absolute;
  top: -15px;
  right: 25%;
}
@media (max-width: 768px) {
  footer.footer .logo-tecone img {
    position: relative;
    right: 0;
  }
}
footer.footer .logo-comb {
  text-align: right;
}
@media (max-width: 768px) {
  footer.footer .logo-comb {
    text-align: center;
  }
}
