<div ng-controller="palhetasController">
<h3 class="center">{{ appTitle }}</h3>

<hr>
<div class="row">
	<div class="col-xs-12 col-md-6">
		<h3>Buscar</h3>
		<form name="listaForm">
			<div class="form-group">
				<label class="control-label">Marca</label>
				<div class="input-group">
					<select class="form-control" ng-model="carro.marca" name="marca" ng-required="true" ng-options="marca for marca in marcas" ng-change="exibeModelos(carro.marca)">
						<option value="">Escolha uma marca</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Modelo</label>
				<div class="input-group">
					<select class="form-control" ng-model="carro.modelo" ng-disabled="listaForm.marca.$invalid" name="modelo" ng-options="modelo for modelo in modelos" ng-change="exibeAnos(carro.modelo)" ng-required="true">
						<option value="">Selecione o modelo</option>
					</select>
				</div>
				<!--<span style="width: 20px; height: 20px; border: 1px solid #a9a9a9;"></span>-->
			</div>
			<div class="form-group">
				<label class="control-label">Ano</label>
				<div class="input-group">
					<select class="form-control" ng-model="carro.ano" ng-disabled="listaForm.modelo.$invalid" name="ano" ng-options="a.ano for a in anos" ng-change="exibeFarois(carro.ano)" ng-required="true">
						<option value="">Selecione o ano</option>
					</select>
				</div>
				<!--<span style="width: 20px; height: 20px; border: 1px solid #a9a9a9;"></span>-->
			</div>
		</form>
		<hr>
	</div>
	<div class="col-xs-12 col-md-6" ng-show="listaForm.$valid">
		<h3>Palhetas Dianteiras</h3>
		<p class="text-primary"><strong>Lado Direito:</strong> {{ lado_direito }}"</p>
		<p class="text-warning"><strong>Lado Esquerdo:</strong> {{ lado_esquerdo }}"</p>
		<hr>
		<h3>Palheta Traseira</h3>
		<p class="text-success">{{ palheta_traseira }}"</p>
	</div>
</div>
</div>